.main-wrap {
  height: 100%;
}
.video-editor-wrap {
  height: 80%;
}
.workplace-wrap {
  height: 20%;
}
.workplace-content {
  height: 100%;
  background: #fff;
}
.video-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}